{% extends 'parent.html.twig' %}

{% block title %}Modification du profil de {{ app.user.username }}{% endblock %}

{% block body %}
<div class="decalnav ">
<div class="rounded container">
    
</div>
</div>
{% endblock %}