{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
        <a href="{{ path('offer_index') }}">annonces</a>
        <a href="{{ path('category_index') }}">categories</a>
        <a href="{{ path('user_index') }}">Utilisateurs</a>
        <a href="{{ path('game_index') }}">Jeux</a>
{% endblock %}
