{% extends 'parent.html.twig' %}

{% block title %}Hello SiteController!
{% endblock %}


{% block body %}

	<h1 class="offer_title">Offer index</h1>




	<div class="card-group">
		<div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Annonce 1</h5>
				<p class="card-text">Dolor duis excepteur consequat ut commodo sint Lorem reprehenderit. Id esse laboris enim sunt ad tempor. In elit ut ut mollit eiusmod. Eu eu anim ipsum Lorem commodo est non velit consequat dolor qui cillum. Reprehenderit et in incididunt laboris est esse fugiat esse esse culpa ea exercitation enim dolor. Amet aliqua ad duis laborum labore duis id culpa aute.</p>
				<p class="card-text">
					<small class="text-muted">Utilisateur 1</small>
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
				<h5
				 class="card-title"><a href="{{ path('user_show', {'id': user.id}) }}">Annonce</a>
				 </h5>
				<p class="card-text">Dolor duis excepteur consequat ut commodo sint Lorem reprehenderit. Id esse laboris enim sunt ad tempor. In elit ut ut mollit eiusmod. Eu eu anim ipsum Lorem commodo est non velit consequat dolor qui cillum. Reprehenderit et in incididunt laboris est esse fugiat esse esse culpa ea exercitation enim dolor. Amet aliqua ad duis laborum labore duis id culpa aute</p>
				<p class="card-text">
					<small class="text-muted">Utilisateur 2</small>
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Annonce 3</h5>
				<p class="card-text">Dolor duis excepteur consequat ut commodo sint Lorem reprehenderit. Id esse laboris enim sunt ad tempor. In elit ut ut mollit eiusmod. Eu eu anim ipsum Lorem commodo est non velit consequat dolor qui cillum. Reprehenderit et in incididunt laboris est esse fugiat esse esse culpa ea exercitation enim dolor. Amet aliqua ad duis laborum labore duis id culpa aute</p>
				<p class="card-text">
					<small class="text-muted">Utilisateur 3</small>
				</p>
			</div>
		</div>
	</div>
	<div class="card-group">
		<div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Annonce 1</h5>
				<p class="card-text">Dolor duis excepteur consequat ut commodo sint Lorem reprehenderit. Id esse laboris enim sunt ad tempor. In elit ut ut mollit eiusmod. Eu eu anim ipsum Lorem commodo est non velit consequat dolor qui cillum. Reprehenderit et in incididunt laboris est esse fugiat esse esse culpa ea exercitation enim dolor. Amet aliqua ad duis laborum labore duis id culpa aute.</p>
				<p class="card-text">
					<small class="text-muted">Utilisateur 4</small>
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Annonce 2</h5>
				<p class="card-text">Dolor duis excepteur consequat ut commodo sint Lorem reprehenderit. Id esse laboris enim sunt ad tempor. In elit ut ut mollit eiusmod. Eu eu anim ipsum Lorem commodo est non velit consequat dolor qui cillum. Reprehenderit et in incididunt laboris est esse fugiat esse esse culpa ea exercitation enim dolor. Amet aliqua ad duis laborum labore duis id culpa aute</p>
				<p class="card-text">
					<small class="text-muted">Utilisateur 5</small>
				</p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Annonce 3</h5>
				<p class="card-text">Dolor duis excepteur consequat ut commodo sint Lorem reprehenderit. Id esse laboris enim sunt ad tempor. In elit ut ut mollit eiusmod. Eu eu anim ipsum Lorem commodo est non velit consequat dolor qui cillum. Reprehenderit et in incididunt laboris est esse fugiat esse esse culpa ea exercitation enim dolor. Amet aliqua ad duis laborum labore duis id culpa aute</p>
				<p class="card-text">
					<small class="text-muted">Utilisateur 6</small>
				</p>
			</div>
		</div>
	</div>
    {% endblock %}



    
