/*****************************************************
*                    MEDIA QUERY                     *
*****************************************************/


@media screen and (max-width:900px) {

    /* HEADER */
    header {
        height: 12%;
    }
    
    .title{
        font-size: 15vw;
        background-image: url('../uploads/images/giphy.jpg')
    }


    .about img{
        display: none;
    }

    .images{
        display: none;
    }

    .etapes{
        width: auto;
        margin: 10px;
    }

    .navbar{
        display: flex;
    }

    header nav .nav-link {
        display: block;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        background-color: black;
    }

    a {
        text-align: center;

    }

    /* header i.icon{
        position: absolute;
        right: 30px;
        top: 32px;
        z-index: 10;
        display: block;
    } */

    /* NAV */

    .navbar-light .navbar-toggler {
        margin-top: 10px;
        margin-right: 20px;
        border-color: #aeae81;
        text-align: center;
    }

    .navbar-light .navbar-toggler-icon{
        background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(174, 174, 129, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }



    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }

}

@media screen and (max-width: 1068px) {
    .blog-post{
        /* max-width: 80rem; */
        /* border-radius: 0.8rem; */
        /* margin-bottom: 50rem; */
        display: flex;
        flex-direction: column;
        width: 75vw;
        height: 40vh;
    }
    :first-of-type.blog-post{
        margin-top: none;
    }

    .blog-post_img{
        /* width: auto; */
        /* height: auto; */
        /* margin-top: 20rem; */
        transform: translateX(0rem);
    }
    .blog-post_img img{
        height: 200px;
        width: 200px;
        transform: translate(2.75rem , -3.5rem);
    }

    .cards_body{
        margin-top: 2.5rem;
        /* display: block; */

    }

    .blog-post_text{

        font-size: 0.7rem;
    }
    .blog-post_title{
        font-size: 1.1rem;
    }
    .blog-post_date span{
        font-size: 0.8rem;
        margin: 0;
    }

    .blog-post_info{
        transform: translateY(-2rem);
        width: 20vh;
        height: 15vh;
        padding: 1rem;
    }
    .blog-post_cta{
        transform: translateX(0rem);
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }
    .blog-post_price{
        font-size: 0.7rem ;
        margin-bottom: 0rem;
    }
    .bbtn{
        margin-left: 0px;
    }
    .pad_offers{
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post{
        max-width: 70rem;
        /* border-radius: 0.8rem; */
        /* margin-bottom: 50rem; */
        display: flex;
        flex-direction: column;
    }

    :first-of-type.blog-post{
        margin-top: none;
    }

    .cards_body{
        margin-top: 2.5rem;
        /* display: block; */
    }
    .blog-post_text{

        font-size: 0.7rem;
    }
    .blog-post_title{
        font-size: 1.1rem;
    }
    .blog-post_date span{
        font-size: 0.8rem;
        margin: 0;
    }


    .blog-post_info{
        transform: translateY(-2rem);
        width: 20vh;
        height: 15vh;
        padding: 1rem;
    }

    .blog-post_img{
        transform: translateX(0rem);
        /* width: auto; */
        height: auto;
    }

    .blog-post_cta{
        transform: translateX(0rem);
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }

    .blog-post_price{
        font-size: 0.7rem ;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-post{
        /* padding: 2.5rem; */
        /* flex-direction: column; */
        /* border-radius: 0.8rem; */
        /* margin-bottom: 50rem; */
        display: flex;
        flex-direction: column;
    }

    .blog-post_img{
        /* width: auto; */
        height: auto;
        /* transform: translate(0, -8rem); */
        /* margin-top: 10rem; */
        transform: translateX(0rem);
    }

    :first-of-type.blog-post{
        margin-top: none;
    }

    .cards_body{
        margin-top: 2.5rem;
        /* display: block; */
    }
    .blog-post_text{

        font-size: 0.7rem;
    }
    .blog-post_title{
        font-size: 1rem;
    }
    .blog-post_date span{
        font-size: 0.8rem;
        margin: 0;
    }
    header nav .nav-link { 
        
        margin-top: 4%;
    }



    .blog-post_info{
        transform: translateY(-2rem);
        width: 20vh;
        height: 15vh;
        padding: 1rem;
    }

    .blog-post_cta{
        transform: translateX(0rem);
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }

    .blog-post_price{
        font-size: 0.7rem ;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width:900px) {

}
