/*****************************************************
*                    MEDIA QUERY                     *
*****************************************************/


@media screen and (max-width:900px) {

    /* HEADER */
    header {
        width: auto;
        height: 12%;
    }
    
    .title{
        font-size: 15vw;
        background-image: url('../uploads/images/giphy.jpg')
    }


    


    .navbar{
        justify-content: space-around;
        display: flex;
    }

    header nav .nav-link {
        display: block;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        background-color: black;
    }

    a {
        text-align: center;

    }

    /* header i.icon{
        position: absolute;
        right: 30px;
        top: 32px;
        z-index: 10;
        display: block;
    } */

    /* NAV */

    .navbar-toggler {
        background-color: rgba(255, 0, 0, 0);
        text-align: center;
    }

    .navbar-toggler-icon {
        /* background-color: rgb(0, 0, 255); */
        color: red;
        z-index: 1000;
    }



    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }

}

@media screen and (max-width: 1068px) {
    .blog-post{
        max-width: 80rem;
        /* border-radius: 0.8rem; */
        /* margin-bottom: 50rem; */
    }
    :first-of-type.blog-post{
        margin-top: none;
    }

    .blog-post_img{
        min-width: 100%;
        height: auto;
        /* margin-top: 20rem; */
        transform: translateX(0rem);
    }
    .blog-post_img img{
        height: 160px;
    }

    .cards_body{
        margin-top: 5rem;
        display: block;

    }

    .blog-post_text{

        font-size: 0.5rem;
    }
    .blog-post_title{
        font-size: 0.7rem;
    }
    .blog-post_date span{
        font-size: 0.6rem;
        margin: 0;
    }

    .blog-post_info{
        transform: translateX(0rem);
        width: 20vh;
        height: 15vh;
    }
    .blog-post_cta{
        transform: translateX(0rem);
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }
    .blog-post_price{
        font-size: 0.7rem ;
        margin-bottom: 0rem;
    }
    .bbtn{
        margin-left: 0px;
    }
    .pad_offers{
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post{
        max-width: 70rem;
        /* border-radius: 0.8rem; */
        /* margin-bottom: 50rem; */
    }

    :first-of-type.blog-post{
        margin-top: none;
    }

    .cards_body{
        margin-top: 5rem;
        display: block;
    }
    .blog-post_text{

        font-size: 0.5rem;
    }
    .blog-post_title{
        font-size: 0.7rem;
    }
    .blog-post_date span{
        font-size: 0.6rem;
        margin: 0;
    }

    .blog-post_info{
        transform: translateX(0rem);
        width: 20vh;
        height: 15vh;
    }

    .blog-post_img{
        transform: translateX(0rem);
        min-width: 100%;
        height: auto;
    }

    .blog-post_cta{
        transform: translateX(0rem);
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }

    .blog-post_price{
        font-size: 0.7rem ;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-post{
        /* padding: 2.5rem; */
        /* flex-direction: column; */
        /* border-radius: 0.8rem; */
        /* margin-bottom: 50rem; */
    }

    .blog-post_img{
        min-width: 100%;
        height: auto;
        /* transform: translate(0, -8rem); */
        /* margin-top: 10rem; */
        transform: translateX(0rem);
    }

    :first-of-type.blog-post{
        margin-top: none;
    }

    .cards_body{
        margin-top: 5rem;
        display: block;
    }
    .blog-post_text{

        font-size: 0.5rem;
    }
    .blog-post_title{
        font-size: 0.7rem;
    }
    .blog-post_date span{
        font-size: 0.6rem;
        margin: 0;
    }
    header nav .nav-link { 
        
        margin-top: 4%;
    }

    .blog-post_info{
        transform: translateX(0rem);
        width: 20vh;
        height: 15vh;
    }

    .blog-post_cta{
        transform: translateX(0rem);
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }

    .blog-post_price{
        font-size: 0.7rem ;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width:900px) {

}
