/*****************************************************
*                      OFFERS                        *
*****************************************************/

    /********************   VIEW   **********************/
    .decalsearch{
        margin-bottom: 80px;
    }

    .blog-post_img {
        width: 100%;
    }

    .cards_body{
        width: 100%;
        display: flex;
        /* height: 100vh; */
        /* align-items: center; */
        justify-content: center;
        background-color: #2e2e2e;
        padding: 0 1.5rem;
    }

    .blog-post{
        width: 50%;
        height: 20vh;
        max-width: 98rem;
        /* padding: 2.5rem; */
        background-color: #aeae81;
        display: flex;
        box-sizing: 0 1.4rem 8rem rgba(0,0,0,.2);   
        align-items: center;
        margin-bottom: 8rem;
    }

    :first-of-type.blog-post{

        border-radius: 0.8rem;
        border: 2px ridge #2e2e2e;
    }

    .blog-post_info{
        background-color: #fff;
        border-radius: .8rem;
        box-shadow: -1px 3px 10px black inset;
        padding: 1.25rem;
        min-width: 16rem;
        max-width: 16rem;
        height: 14rem;
        transform: translateX(2rem);
    }

    .blog-post_img{
        min-width: 18rem;
        max-width: 18rem;
        height: 16rem;
        transform: translateX(1.5rem);
        position: relative;
    }

    .blog-post_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: .8rem;
        border: 2px ridge #2e2e2e;
    }

    .blog-post_img::before{

        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0,.05);
        border-radius: .8rem;

    }

    .blog-post_date span{
        display:block;
        color: rgba(0, 0, 0, .5);
        font-size: 1rem;
        font-weight: 600;
        margin: .5rem 0;
    }

    .blog-post_title{
        font-size: 1.2rem;
        /* margin: 1.5rem 0 2rem; */
        text-transform: uppercase;
        color:#aeae81;
    }

    .blog-post_text{
        margin-bottom: 3rem;
        font-size: 1rem;
        color: rgba(0, 0, 0,.7);
    }

    .blog-post_cta{
        display: inline-block;
        padding: 0.5rem 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: #fff;
        background-image: linear-gradient(to right, #151515 0%, #aeae81 100%);
        border-radius: .8rem;
        text-decoration: none;
        transform: translateX(19rem);
        position: absolute;
        top: 70%;
        left: 40%;
    }

    .blog-post_cta:hover{
        background-image: linear-gradient(to right, #aeae81 0%, #151515 100%);
        color: #fff;
    }

    .bbtn{
        margin-left: 1600px;
    }


    .offer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .c1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem;
        background-color: #aeae81;
        color: #151515;
        border-radius: 0.8rem;
        border: 2px ridge #2e2e2e;
        font-size: 1.3rem;
    }

    .offer-titre{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color:#e7e7d5;
        margin-top: 5rem;
        margin-bottom: 5rem;
        
    }

    .offer-titre2{
        text-align: center;
        color:#e7e7d5;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .pic-offer{
        border-radius: 0.8rem;
        border: 2px ridge #2e2e2e;
        width: 30vw;
        height: 30vw;
    }

    .offer-btn{
        text-align: center;
        padding-bottom: 2rem;
    }

    .form-cont{
        padding-bottom: 6rem;
    }

    .btn-lg1{
        margin-top: 2rem;
        text-align: center;
    }
/******************   VIEW END   *********************/




/********************   CREATE   **********************/


/******************   CREATE END   *********************/



/********************   EDIT   **********************/


/******************   EDIT END   *********************/


/*****************************************************
*                    OFFERS END                      *
*****************************************************/




















