/*****************************************************
*                      OFFERS                        *
*****************************************************/

    /********************   VIEW   **********************/
    .blog-post_img {
        width: 100%;
    }

    .cards_body{
        width: 100%;
        display: flex;
        /* height: 100vh; */
        /* align-items: center; */
        justify-content: center;
        background-color: #2e2e2e;
        padding: 0 1.5rem;
    }

    .blog-post{
        width: 50%;
        height: 20vh;
        max-width: 98rem;
        /* padding: 2.5rem; */
        background-color: #aeae81;
        display: flex;
        box-sizing: 0 1.4rem 8rem rgba(0,0,0,.2);   
        align-items: center;
    }

    :first-of-type.blog-post{
        margin-bottom: 5rem;
        border-radius: 0.8rem;
    }

    .blog-post_info{
        background-color: #fff;
        border-radius: .8rem;
        padding: 1.25rem;
        min-width: 16rem;
        max-width: 16rem;
        height: 14rem;
        transform: translateX(2rem);
    }

    .blog-post_img{
        min-width: 18rem;
        max-width: 18rem;
        height: 16rem;
        transform: translateX(1.5rem);
        position: relative;
    }

    .blog-post_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: .8rem;
    }

    .blog-post_img::before{

        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0,.05);
        border-radius: .8rem;

    }

    .blog-post_date span{
        display:block;
        color: rgba(0, 0, 0, .5);
        font-size: 1rem;
        font-weight: 600;
        margin: .5rem 0;
    }

    .blog-post_title{
        font-size: 1.2rem;
        /* margin: 1.5rem 0 2rem; */
        text-transform: uppercase;
        color:#aeae81;
    }

    .blog-post_text{
        margin-bottom: 3rem;
        font-size: 1rem;
        color: rgba(0, 0, 0,.7);
    }

    .blog-post_cta{
        display: inline-block;
        padding: 0.5rem 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: #fff;
        background-image: linear-gradient(to right, #151515 0%, #aeae81 100%);
        border-radius: .8rem;
        text-decoration: none;
        transform: translateX(19rem);

    }

    .blog-post_cta:hover{
        background-image: linear-gradient(to right, #aeae81 0%, #151515 100%);
        color: #fff;
    }

    .blog-post_price{
        display: flex;
        justify-content: end;
    }

    .bbtn{
        margin-left: 1600px;
    }
/******************   VIEW END   *********************/




/********************   CREATE   **********************/


/******************   CREATE END   *********************/



/********************   EDIT   **********************/


/******************   EDIT END   *********************/


/*****************************************************
*                    OFFERS END                      *
*****************************************************/




















/*****************************************************
*                    MEDIA QUERY                     *
*****************************************************/


@media screen and (max-width:900px) {

    /* HEADER */
    header {
        width: 100vw;
        height: 12%;
    }
    
    .title{
        font-size: 15vw;
    }


    


    .navbar{
        justify-content: space-around;
        display: flex;
    }

    header nav .nav-link {
        display: block;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        background-color: black;
    }

    a {
        text-align: center;

    }

    /* header i.icon{
        position: absolute;
        right: 30px;
        top: 32px;
        z-index: 10;
        display: block;
    } */

    /* NAV */

    .navbar-toggler {
        background-color: rgba(255, 0, 0, 0);
        text-align: center;
    }

    .navbar-toggler-icon {
        /* background-color: rgb(0, 0, 255); */
        color: red;
        z-index: 1000;
    }



    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }

}

@media screen and (max-width: 1068px) {
    .blog-post{
        max-width: 80rem;
        /* border-radius: 0.8rem; */
        /* margin-bottom: 50rem; */
    }
    :first-of-type.blog-post{
        margin-top: none;
    }

    .blog-post_img{
        min-width: 100%;
        height: auto;
        /* margin-top: 20rem; */
        transform: translateX(0rem);
    }
    .blog-post_img img{
        height: 160px;
    }

    .cards_body{
        margin-top: 5rem;
        display: block;
    }

    .blog-post_text{

        font-size: 0.5rem;
    }
    .blog-post_title{
        font-size: 0.7rem;
    }
    .blog-post_date span{
        font-size: 0.6rem;
    }

    .blog-post_info{
        transform: translateX(0rem);
        width: 20vh;
        height: 15vh;
    }
    .blog-post_cta{
        transform: translateX(0rem);
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }
    .blog-post_price{
        transform: translateX(-20rem);
    }
    .bbtn{
        margin-left: 0px;
    }
}

@media screen and (max-width: 868px) {
    .blog-post{
        max-width: 70rem;
        /* border-radius: 0.8rem; */
        /* margin-bottom: 50rem; */
    }

    :first-of-type.blog-post{
        margin-top: none;
    }

    .cards_body{
        margin-top: 5rem;
        display: block;
    }
    .blog-post_text{

        font-size: 0.5rem;
    }
    .blog-post_title{
        font-size: 0.7rem;
    }
    .blog-post_date span{
        font-size: 0.6rem;
    }

    .blog-post_info{
        transform: translateX(0rem);
        width: 20vh;
        height: 15vh;
    }

    .blog-post_img{
        transform: translateX(0rem);
        min-width: 100%;
        height: auto;
    }

    .blog-post_cta{
        transform: translateX(0rem);
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }

    .blog-post_price{
        transform: translateX(-20rem);
    }
}

@media screen and (max-width: 768px) {
    .blog-post{
        /* padding: 2.5rem; */
        /* flex-direction: column; */
        /* border-radius: 0.8rem; */
        /* margin-bottom: 50rem; */
    }

    .blog-post_img{
        min-width: 100%;
        height: auto;
        /* transform: translate(0, -8rem); */
        /* margin-top: 10rem; */
        transform: translateX(0rem);
    }

    :first-of-type.blog-post{
        margin-top: none;
    }

    .cards_body{
        margin-top: 5rem;
        display: block;
    }
    .blog-post_text{

        font-size: 0.5rem;
    }
    .blog-post_title{
        font-size: 0.7rem;
    }
    .blog-post_date span{
        font-size: 0.6rem;
    }
    header nav .nav-link { 
        
        margin-top: 4%;
    }

    .blog-post_info{
        transform: translateX(0rem);
        width: 20vh;
        height: 15vh;
    }

    .blog-post_cta{
        transform: translateX(0rem);
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }

    .blog-post_price{
        transform: translateX(-20rem);
    }
}

@media screen and (max-width:900px) {

    .title {
        text-shadow: 0px 0px 3px #aeae81;
    }

}
