/*****************************************************
*                    NAVBAR                          *
*****************************************************/


.decalnav {
    padding-top: 75px;
}

/*****************************************************
*                    HOME                          *
*****************************************************/
.title {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.233);
}

@media screen and (max-width:900px) {

    .title {
        text-shadow: 0px 0px 3px #aeae81;
    }

}

.overlay {
    background: rgba(0, 0, 0, 0.301);

}

/*****************************************************
*            Inscription et connexion                *
*****************************************************/

.blocform {
    padding: 20px;
    width: 400px;
    background-color: #aeae81c5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.815);
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
}
