{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <h1>Bonjour, {{ controller_name }}! ✅</h1>
    <p>Içi vous pouvez gérer tout les aspects du sites</p>
    <a class="btn btn-primary btn-lg" href="{{ path('user_index') }}">Gère tes utilisateurs</a>
    <a class="btn btn-primary btn-lg" href="{{ path('category_index') }}">Gère les catégories</a>
    <a class="btn btn-primary btn-lg" href="{{ path('offer_index') }}">Gère les annonces</a>
</div>


<div>

</div>
{% endblock %}