{% extends 'base.html.twig' %}


{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>This friendly message is coming from:</p> 

    <button type="button" class="btn btn-primary btn-lg" href="{{ path('user') }}">Gère tes utilisateurs</button>
    <button type="button" class="btn btn-primary btn-lg" href="{{ path('category') }}">Gère les catégories</button>
    <button type="button" class="btn btn-primary btn-lg" href="{{ path('offers') }}">Gère les annonces</button>
</div>


<div>

</div>
{% endblock %}