<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <a href="{{ path('offer_index') }}">annonces</a>
        <a href="{{ path('category_index') }}">categories</a>
        <a href="{{ path('user_index') }}">Utilisateurs</a>
        <a href="{{ path('game_index') }}">Jeux</a>
        {% endblock %}
    </body>
</html>
